.main-block {
  background-image: linear-gradient(to top, #ffffff 175px, transparent 175px),
    url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 20px;
  background-size: 100%;
  background-color: @basic-green;

  @media (min-width: @tablet-width) {
    background-image: none;
    background-color: @basic-white;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    position: relative;
    background-image: linear-gradient(to right, #ffffff 610px, transparent 610px),
      url("../img/index-background-desktop@1x.jpg");
    background-color: @basic-green;
    margin-bottom: -120px;
    top: -120px;
    z-index: 1;
    height: 696px;
  }
}

.main-block__wrapper {
  .container();
  position: relative;

  @media (min-width: @tablet-width) {
    padding-bottom: 526px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 0;
  }
}

.main-block__title {
  .font(36px, 36px);
  text-align: center;
  color: @basic-white;
  margin: 0 0 25px;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    .font(60px, 60px);
    text-align: left;
    padding-left: 87px;
    margin: 0 0 41px;
    padding-top: 62px;
    color: @basic-black;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    margin: 0 0 40px;
    padding-top: 223px;
  }
}

.main-block__text {
  .font(14px, 14px);
  text-transform: uppercase;
  text-align: center;
  color: @basic-white;
  margin: 0 0 29px;

  @media (min-width: @tablet-width) {
    .font(20px, 20px);
    text-align: left;
    padding-left: 88px;
    margin: 0 0 49px;
    color: @basic-black;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
    margin: 0 0 52px;
  }
}

.main-block__img {
  margin-bottom: 3px;

  @media (min-width: @tablet-width) {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  @media (min-width: @desktop-width) {
    top: 143px;
    left: 558px;
    z-index: -1;
  }
}

.main-block__link {
  .font(14px, 18px);
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 7px;

  @media (min-width: @tablet-width) {
    .font(20px, 0);
    width: 244px;
    min-height: 54px;
    margin-left: 82px;
    align-items: center;
  }
}
