.main-block {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  margin-bottom: 20px;
  padding-top: 27px;
  background-size: 100%;
}

.main-block__title {
  .font(@Oswald,normal,normal,36px,36px);
  text-align: center;
  color: @basic-white;
  margin-bottom: 25px;
}

.main-block__text {
  .font(@Oswald,normal,normal,14px,14px);
  text-transform: uppercase;
  text-align: center;
  color: @basic-white;
  margin-bottom: 29px;
}

.main-block__img {
  margin-bottom: 3px;
}

.main-block__link {
  .font(@Oswald,normal,normal,14px,18px);
  text-align: center;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
  padding: 8px 44px;
}
