.programs {
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
    padding-top: 82px;
  }
}

.programs__wrapper {
  .container();
}

.programs__list {
  .list-reset();

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}

.programs__item {
  background-color: @basic-grey;
  padding-top: 30px;
  padding-bottom: 18px;

  @media (min-width: @tablet-width) {
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 53px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 55px;
    padding-right: 51px;
  }

  &:first-child {
    margin: 0 0 20px;

    @media (min-width: @tablet-width) {
      margin: 0 0 30px;
    }

    @media (min-width: @desktop-width) {
      margin: 0;
    }
  }
}

.programs__title {
  .font(24px, 37px);
  position: relative;
  text-transform: uppercase;
  color: @basic-black;
  margin: 0 0 29px;
  padding-left: 91px;

  @media (min-width: @tablet-width) {
    .font(36px, 36px);
    padding: 0;
    margin: 0 0 24px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 162px;
    margin: 0 0 73px;
  }

  &::after {
    content: "";
    position: absolute;
    top: -7px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: @basic-green;
    border-radius: 50%;
    z-index: 1;

    @media (min-width: @tablet-width) {
      width: 200px;
      height: 200px;
      top: 15px;
      left: 393px;
    }

    @media (min-width: @desktop-width) {
      width: 100px;
      height: 100px;
      top: -30px;
      left: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 2;
  }

  &--cat::before {
    top: -20px;
    left: 29px;
    width: 50px;
    height: 53px;
    background-image: url("../img/icon-cat-slim.svg");

    @media (min-width: @tablet-width) {
      width: 140px;
      height: 192px;
      top: 4px;
      left: 423px;
    }

    @media (min-width: @desktop-width) {
      width: 70px;
      height: 97px;
      top: -36px;
      left: 15px;
    }
  }

  &--panther::before {
    top: 3px;
    left: 13px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");

    @media (min-width: @tablet-width) {
      width: 268px;
      height: 112px;
      top: 58px;
      left: 359px;
    }

    @media (min-width: @desktop-width) {
      width: 134px;
      height: 56px;
      top: -10px;
      left: -20px;
    }
  }
}

.programs__description {
  .font(14px, 18px);
  font-family: @special-font;
  position: relative;
  color: @basic-darkgrey;
  width: 227px;
  margin: 0 0 15px 20px;
  border-bottom: 1px solid @background-lightgrey;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    .font(16px, 24px);
    padding: 0;
    margin: 0 0 48px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 23px;
  }

  &--cat {
    @media (min-width: @tablet-width) {
      width: 377px;
    }

    @media (min-width: @desktop-width) {
      width: 467px;
    }
  }

  &--panther {
    @media (min-width: @tablet-width) {
      width: 342px;
    }

    @media (min-width: @desktop-width) {
      width: 457px;
    }
  }
}

.programs__link {
  .font(16px, 16px);
  position: relative;
  text-transform: uppercase;
  color: @basic-black;
  padding-left: 19px;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    .font(20px, 30px);
    padding-left: 0;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 6px;
    right: -47px;
    width: 32px;
    height: 10px;
    background-image: url("../img/icon-right-arrow-long.svg");

    @media (min-width: @tablet-width) {
      top: 10px;
    }
  }
}
