.works {
  .container();
  margin-bottom: 46px;

  @media (min-width: @tablet-width) {
    margin-bottom: 6px;
  }

  @media (min-width: @desktop-width) {
    padding-right: 106px;
    margin-bottom: 11px;
  }
}

.works__title {
  .font(36px, 40px);
  color: @basic-black;
  margin: 0 0 41px;

  @media (min-width: @tablet-width) {
    .font(60px, 60px);
    margin: 0 0 32px;
  }
}

.works__list {
  .list-reset();
  counter-reset: section;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.works__item {
  position: relative;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    top: -1px;
    left: 0;
    background-color: @basic-green;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 40px;
    z-index: 2;

    @media (min-width: @tablet-width) {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      .font(280px, 280px);
      top: 0;
      right: 0;
      font-family: @basic-font;
      color: @basic-grey;
      z-index: -1;
    }
  }

  &--leaf::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }

  &--leaf {
    @media (min-width: @tablet-width) {
      width: 230px;
      margin-right: 153px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 94px;
    }
  }

  &--powder::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }

  &--powder {
    @media (min-width: @tablet-width) {
      width: 246px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 79px;
    }
  }

  &--cutlery::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }

  &--cutlery {
    @media (min-width: @tablet-width) {
      width: 246px;
      margin-right: 137px;
    }

    @media (min-width: @desktop-width) {
      margin-right: 77px;
    }
  }

  &--libra::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }

  &--libra {
    & br {
      display: none;

      @media (min-width: @tablet-width) {
        display: block;
      }
    }

    @media (min-width: @tablet-width) {
      width: 249px;
    }

    @media (min-width: @desktop-width) {
      padding-right: 0;
    }
  }
}

.works__text {
  .font(14px, 18px);
  font-family: @special-font;
  color: @basic-darkgrey;
  margin: 0;
  padding-left: 80px;

  @media (min-width: @tablet-width) {
    .font(16px, 24px);
    padding: 0;
    padding-top: 153px;
    padding-bottom: 57px;
  }
}
