.additionally {
  .container();
  margin-top: 38px;

  @media (min-width: @tablet-width) {
    margin-top: 63px;
    padding: 0 67px 0 71px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px 0 110px;
    margin-top: 61px;
  }
}

.additionally__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 124px;
    row-gap: 32px;
    width: 565px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: none;
    width: 100%;
  }
}

.additionally__item {
  display: flex;
  align-items: baseline;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-bottom: 9px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
