.catalog-card__title {
  .font(@Oswald,normal,normal,16px,20px);
  text-transform: uppercase;
  color: @special-darkgrey;
  margin-bottom: 18px;
}

.catalog-card__parameters {
  .font(@Arial,normal,normal,12px,16px);
  color: @basic-darkgrey;
  border-collapse: collapse;
}
