.more-card__title {
  .font(16px, 20px);
  text-transform: uppercase;
  text-align: center;
  color: @special-lightblack;
  margin: 0 0 8px;
}

.more-card__text {
  .font(12px, 16px);
  font-family: @special-font;
  text-align: center;
  color: @basic-darkgrey;
  margin: 0 0 21px;
}

.more-card__link {
  .font(16px, 0);
  color: @basic-darkgrey;
  background-color: @basic-grey;
}
