.products__item {
  border-bottom: 1px solid @light-grey;
  padding: 0 0 19px;
  margin: 0 0 12px;

  &:first-child {
    border-top: 1px solid @light-grey;
    padding-top: 13px;
  }

  @media (min-width: @tablet-width) {
    border: 1px solid @light-grey;
    padding: 26px 38px 28px 38px;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    align-items: center;
    width: 896px;
    justify-content: space-between;
    border: none;
    border-bottom: 1px solid @light-grey;
    padding: 15px 0 17px 0;

    &:first-child {
      border-top: 1px solid @light-grey;
    }

    &:nth-child(2),
    &:nth-child(3) {
      padding: 25px 0 24px 0;
    }
  }
}

.products__item--wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 23px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    width: 611px;
  }
}

.products__title {
  .font(16px, 16px);
  text-transform: uppercase;
  color: @special-darkgrey;
  margin: 0 0 13px;

  @media (min-width: @tablet-width) {
    .font(20px, 20px);
    margin: 0;
  }
}

.products__info {
  .font(14px, 14px);
  font-family: @special-font;
  color: @basic-darkgrey;
  margin: 0 0 13px;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    width: 278px;
  }
}

.products__size {
  margin: 0;

  @media (min-width: @tablet-width) {
    margin-right: 51px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.products__price {
  margin: 0;
}

.products__link {
  display: flex;
  justify-content: center;
  padding: 7px 0 7px;

  @media (min-width: @desktop-width) {
    width: 244px;
    padding: 7px;
  }
}
