.products__title {
  .font(16px, 16px);
  text-transform: uppercase;
  color: @special-darkgrey;
  margin: 0;
}

.products__price {
  .font(14px, 14px);
  font-family: @special-font;
  color: @basic-darkgrey;
  border-collapse: collapse;
}
