.contacts__title {
  .font(@Oswald,normal,normal,16px,18px);
  text-transform: uppercase;
  color: @special-lightblack;
}

.contacts__description {
  .font(@Arial,normal,normal,14px,20px);
  color: @basic-darkgrey;
}
