.contacts {
  position: relative;

  &--background {
    background-color: @basic-grey;
  }
}

.contacts__wrapper {
  .container();
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 63px;
    padding-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 570px;
    height: 201px;
    background-color: @basic-white;
    padding: 52px 89px 51px 76px;
    top: 95px;
    left: 110px;
  }
}

.contacts__title {
  .font(16px, 18px);
  text-transform: uppercase;
  color: @special-lightblack;
  margin: 0;
  width: 140px;
  margin-right: 2px;

  @media (min-width: @tablet-width) {
    .font(20px, 22px);
    width: 171px;
    margin-left: 41px;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    .font(20px, 21px);
    width: 163px;
    margin-right: 0;
    margin-left: 0;
  }
}

.contacts__description {
  .font(14px, 20px);
  font-family: @special-font;
  color: @basic-darkgrey;
  margin: 0;
  width: 140px;

  & br {
    display: none;

    @media (min-width: @tablet-width) {
      display: block;
    }
  }

  @media (min-width: @tablet-width) {
    .font(16px, 20px);
    width: 159px;
    text-align: right;
    margin-right: 41px;
    min-height: 80px;
  }

  @media (min-width: @desktop-width) {
    width: 155px;
    text-align: left;
    margin-right: 0;
  }
}

.contacts__text {
  @media (min-width: @tablet-width) {
    display: block;
    margin-top: 20px;
  }
}

.contacts__map {
  height: 362px;
  background-color: @special-greydark;

  @media (min-width: @tablet-width) {
    height: 396px;
  }

  @media (min-width: @desktop-width) {
    height: 400px;
  }
}
