.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__link {
  .font(16px, 18px);
  font-family: @special-font;
  color: @basic-darkgrey;

  &:active {
    opacity: 0.3;
  }
}

.copyright__svg {
  width: 27px;
  height: 34px;
  fill: @special-greydark;

  &:hover,
  &:focus {
    fill: @basic-green;
  }
}
