.line {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 2px;
    top: 15px;
    right: 0;
    background-color: @basic-green;
    z-index: -1;

    @media (min-width: @tablet-width) {
      top: 23px;
      width: 100%;
    }
  }
}

.line__title {
  .container();
  padding: 0;

  @media (min-width: @tablet-width) {
    padding: 0;
  }

  &--extra-products {
    margin-bottom: 35px;

    @media (min-width: @tablet-width) {
      margin-bottom: 80px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 81px;
    }

    .line__title-text {
      .font(24px, 24px);

      @media (min-width: @tablet-width) {
        .font(36px, 36px);
        padding: 0 37px 0 36px;
      }

      @media (min-width: @desktop-width) {
        padding: 0 40px 0 35px;
      }
    }
  }
}


.line__title-text {
  .font(24px, 32px);
  color: @basic-black;
  position: relative;
  display: inline-block;
  padding-right: 22px;
  padding-left: 20px;
  background-color: @basic-white;

  @media (min-width: @tablet-width) {
    .font(36px, 36px);
    padding: 0 40px 0 40px;
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 70px;
    padding: 0 40px 0 40px;
  }

  &--width {
    width: 223px;

    @media (min-width: @tablet-width) {
      width: auto;
    }
  }
}

.line__title-wrapper {
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    margin-bottom: 76px;
  }
}
