.font(@size, @height, @weight: normal, @style: normal) {
  font-style: @style;
  font-weight: @weight;
  font-size: @size;
  line-height: @height;
}

.container(@padding-container: 0 20px, @margin-container: 0 auto, @width-container: @mobile-width) {
  padding: @padding-container;
  margin: @margin-container;
  width: @width-container;
}
