.font(@size, @height, @weight: normal, @style: normal) {
  font-style: @style;
  font-weight: @weight;
  font-size: @size;
  line-height: @height;
}

.container(@padding: 0 20px, @margin: 0 auto, @width: @mobile-width) {
  padding: @padding;
  margin: @margin;
  width: @width;
}

.content-before() {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 0 0;
}
