@basic-green: #68b738;
@basic-darkgreen: #5eaa2f;
@basic-grey: #f2f2f2;
@special-grey-1: #ebebeb;
@special-grey-2: #cdcdcd;
@special-grey-3: #666666;
@basic-darkgrey: #444444;
@special-darkgrey: #222222;
@error: #ff8282;
@basic-white: #ffffff;
@basic-black: #000000;
@border-bottom: #d9d9d9;
@special-lightblack: #111111;
@nav-border: #e6e6e6;


@Oswald: "Oswald", Arial, sans-serif;
@Arial: Arial, sans-serif;

